mat-sidenav, mat-sidenav-content {
    padding: 16px;
    height: 100%;
}

mat-sidenav {
    width: 315px;
    padding-top: 42px;
    padding-bottom: 22px;
    overflow: hidden;
}

mat-sidenav-content {
    padding: 36px;
}

mat-sidenav-container {
    height: 100vh;
}

mat-button {
    display: inline-block;
}

.sidenav-wrapper {
    position: relative;
}

.sidenav-header {
    margin-bottom: 20px;
}

.menu {
    margin-left: -20px;
    margin-bottom: 12px;
}

.profile-avatar {
    background-size: cover;
    border-radius: 50%;
    margin: 12px auto;
    height: 100px;
    width: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sidebar-content {
    margin-bottom: 24px;
}

.sidebar-footer {
    position: relative;
    margin-bottom: 26px;
    bottom: 0;
    width: 100%;
}