<br>
<mat-toolbar color="primary">
  <h3>Create Plot</h3>
</mat-toolbar>
<br>

<!--form fields-->

<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="plotNo">Plot No</label>
    </div>
    <div class="col-75">
      <input type="text" id="plotNo" name="plotNo" placeholder="Plot No..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="location">Location</label>
    </div>
    <div class="col-75">
      <input type="text" id="location" name="location" placeholder="Plot Location..">
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-25">
      <label for="country">Country</label>
    </div>
    <div class="col-75">
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-25">
      <label for="area">Area</label>
    </div>
    <div class="col-75">
      <input type="text" id="area" name="area" placeholder="Area of Plot..">
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>