
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Plot Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
             <button mat-icon-button (click)="onEditClicked(row)"><mat-icon>edit</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onDeleteClicked(row)"> <mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="division">
          <th mat-header-cell *matHeaderCellDef> Division </th>
          <td mat-cell *matCellDef="let plot"> {{plot.division}} </td>
        </ng-container>

        <ng-container matColumnDef="beat">
          <th mat-header-cell *matHeaderCellDef> Beat </th>
          <td mat-cell *matCellDef="let plot"> {{plot.beat}} </td>
        </ng-container>

        <ng-container matColumnDef="range">
          <th mat-header-cell *matHeaderCellDef> Range </th>
          <td mat-cell *matCellDef="let plot"> {{plot.range}} </td>
        </ng-container>

        <ng-container matColumnDef="block">
          <th mat-header-cell *matHeaderCellDef> Block </th>
          <td mat-cell *matCellDef="let plot"> {{plot.block}} </td>
        </ng-container>

        <ng-container matColumnDef="sBlock">
          <th mat-header-cell *matHeaderCellDef> SUB Block </th>
          <td mat-cell *matCellDef="let plot"> {{plot.sBlock}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>
