<div class="container">
  <mat-icon matPrefix>search</mat-icon>
  <mat-form-field floatLabel="never">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Plot Details</mat-card-title>
    </mat-card-header>
    <div class="header">
      <button mat-icon-button (click)="addPlot()" class="add-btn">
        <mat-icon>add_box</mat-icon>New Plot
      </button>
    </div>
    <mat-card-content>
      <div class="table-plots">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="division" sticky>
            <th mat-header-cell *matHeaderCellDef> Division </th>
            <td mat-cell *matCellDef="let plot"> {{plot.division}} </td>
          </ng-container>

          <ng-container matColumnDef="beat">
            <th mat-header-cell *matHeaderCellDef> Beat </th>
            <td mat-cell *matCellDef="let plot"> {{plot.beat}} </td>
          </ng-container>

          <ng-container matColumnDef="range">
            <th mat-header-cell *matHeaderCellDef> Range </th>
            <td mat-cell *matCellDef="let plot"> {{plot.range}} </td>
          </ng-container>

          <ng-container matColumnDef="block">
            <th mat-header-cell *matHeaderCellDef> Block </th>
            <td mat-cell *matCellDef="let plot"> {{plot.block}} </td>
          </ng-container>

          <ng-container matColumnDef="sBlock">
            <th mat-header-cell *matHeaderCellDef> Sub Block </th>
            <td mat-cell *matCellDef="let plot"> {{plot.sBlock}} </td>
          </ng-container>

          <ng-container matColumnDef="plot">
            <th mat-header-cell *matHeaderCellDef> Plot </th>
            <td mat-cell *matCellDef="let plot"> {{plot.plot}} </td>
          </ng-container>

          <ng-container matColumnDef="plotSize">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let plot"> {{plot.plotSize}} </td>
          </ng-container>

          <ng-container matColumnDef="mainSP">
            <th mat-header-cell *matHeaderCellDef> Main SP </th>
            <td mat-cell *matCellDef="let plot"> {{plot.mainSP}} </td>
          </ng-container>

          <ng-container matColumnDef="minorSP">
            <th mat-header-cell *matHeaderCellDef> Minor Sp </th>
            <td mat-cell *matCellDef="let plot"> {{plot.minorSP}} </td>
          </ng-container>

          <ng-container matColumnDef="pYear">
            <th mat-header-cell *matHeaderCellDef> Plant Year </th>
            <td mat-cell *matCellDef="let plot"> {{plot.pYear}} </td>
          </ng-container>

          <ng-container matColumnDef="nStanding">
            <th mat-header-cell *matHeaderCellDef> No. Standing </th>
            <td mat-cell *matCellDef="let plot"> {{plot.nStanding}} </td>
          </ng-container>

          <ng-container matColumnDef="nRemoved">
            <th mat-header-cell *matHeaderCellDef> No. Removing </th>
            <td mat-cell *matCellDef="let plot"> {{plot.nRemoved}} </td>
          </ng-container>

          <ng-container matColumnDef="slope">
            <th mat-header-cell *matHeaderCellDef> Slope % </th>
            <td mat-cell *matCellDef="let plot"> {{plot.slope}} </td>
          </ng-container>

          <ng-container matColumnDef="slopePos">
            <th mat-header-cell *matHeaderCellDef> Slope POS </th>
            <td mat-cell *matCellDef="let plot"> {{plot.slopePos}} </td>
          </ng-container>

          <ng-container matColumnDef="aspect">
            <th mat-header-cell *matHeaderCellDef> Aspect </th>
            <td mat-cell *matCellDef="let plot"> {{plot.aspect}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let plot"> {{plot.date}} </td>
          </ng-container>

          <ng-container matColumnDef="groundVeg">
            <th mat-header-cell *matHeaderCellDef> Ground Veg </th>
            <td mat-cell *matCellDef="let plot"> {{plot.groundVeg}} </td>
          </ng-container>

          <ng-container matColumnDef="underStr">
            <th mat-header-cell *matHeaderCellDef> Understorey </th>
            <td mat-cell *matCellDef="let plot"> {{plot.underStr}} </td>
          </ng-container>

          <ng-container matColumnDef="soilDp">
            <th mat-header-cell *matHeaderCellDef> Soil Depth </th>
            <td mat-cell *matCellDef="let plot"> {{plot.soilDp}} </td>
          </ng-container>

          <ng-container matColumnDef="soilTxt">
            <th mat-header-cell *matHeaderCellDef> Soil Texture </th>
            <td mat-cell *matCellDef="let plot"> {{plot.soilTxt}} </td>
          </ng-container>

          <ng-container matColumnDef="humus">
            <th mat-header-cell *matHeaderCellDef> Humus </th>
            <td mat-cell *matCellDef="let plot"> {{plot.humus}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onEditClicked(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onDeleteClicked(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="view" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onViewClicked(row)" *ngIf="showBtn1">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="onViewOff(row)" *ngIf="showBtn2">
                <mat-icon>visibility_off</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
    <!-- plot's data table -->
    <mat-card-content>
      <div *ngIf="show">
        <h4>Plot Data</h4>
        <table mat-table [dataSource]="plotDataTable">

          <ng-container matColumnDef="tree">
            <th mat-header-cell *matHeaderCellDef> Tree </th>
            <td mat-cell *matCellDef="let pData"> {{pData.tree}} </td>
          </ng-container>

          <ng-container matColumnDef="species">
            <th mat-header-cell *matHeaderCellDef> Species </th>
            <td mat-cell *matCellDef="let pData"> {{pData.species}} </td>
          </ng-container>

          <ng-container matColumnDef="dbh">
            <th mat-header-cell *matHeaderCellDef> DBH </th>
            <td mat-cell *matCellDef="let pData"> {{pData.dbh}} </td>
          </ng-container>

          <ng-container matColumnDef="dh">
            <th mat-header-cell *matHeaderCellDef> DOM/Health </th>
            <td mat-cell *matCellDef="let pData"> {{pData.dh}} </td>
          </ng-container>

          <ng-container matColumnDef="boForm">
            <th mat-header-cell *matHeaderCellDef> B. Form </th>
            <td mat-cell *matCellDef="let pData"> {{pData.boForm}} </td>
          </ng-container>

          <ng-container matColumnDef="dmg">
            <th mat-header-cell *matHeaderCellDef> Damage </th>
            <td mat-cell *matCellDef="let pData"> {{pData.dmg}} </td>
          </ng-container>

          <ng-container matColumnDef="blA">
            <th mat-header-cell *matHeaderCellDef> Baseline a </th>
            <td mat-cell *matCellDef="let pData"> {{pData.blA}} </td>
          </ng-container>

          <ng-container matColumnDef="slA">
            <th mat-header-cell *matHeaderCellDef> Slope a </th>
            <td mat-cell *matCellDef="let pData"> {{pData.slA}} </td>
          </ng-container>

          <ng-container matColumnDef="bsA">
            <th mat-header-cell *matHeaderCellDef> Base a </th>
            <td mat-cell *matCellDef="let pData"> {{pData.bsA}} </td>
          </ng-container>

          <ng-container matColumnDef="tpA">
            <th mat-header-cell *matHeaderCellDef> Tip a </th>
            <td mat-cell *matCellDef="let pData"> {{pData.tpA}} </td>
          </ng-container>

          <ng-container matColumnDef="blB">
            <th mat-header-cell *matHeaderCellDef> Baseline b </th>
            <td mat-cell *matCellDef="let pData"> {{pData.blA}} </td>
          </ng-container>

          <ng-container matColumnDef="slB">
            <th mat-header-cell *matHeaderCellDef> Slope b </th>
            <td mat-cell *matCellDef="let pData"> {{pData.slA}} </td>
          </ng-container>

          <ng-container matColumnDef="bsB">
            <th mat-header-cell *matHeaderCellDef> Base b </th>
            <td mat-cell *matCellDef="let pData"> {{pData.bsA}} </td>
          </ng-container>

          <ng-container matColumnDef="tpB">
            <th mat-header-cell *matHeaderCellDef> Tip b </th>
            <td mat-cell *matCellDef="let pData"> {{pData.tpA}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="deletePlotData(row)"><mat-icon>delete</mat-icon></button>
                      </td>
                  </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="plotDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: plotDisplayedColumns;"></tr>
        </table>
        <!-- end plot's data table -->
      </div>
    </mat-card-content>
  </mat-card>
</div>