table {
  width: 100%;
}

mat-icon {
  vertical-align: middle;
  margin-right: 2px;
}

a:hover {
  text-decoration: none;
}

h4 {
  margin-top: 12px;
  margin-bottom: 22px;
}

.table-actions > * {
  margin: 4px;
}

.mat-column-actions {
  width: 174px;
}

:host /deep/ mat-form-field div.mat-form-field-infix {
  border-top-width: 0px !important;
}

.right {
  margin-top: 6px;
  margin-right: 2px;
  position: absolute;
  right: 0;
}

.header {
  padding-top: 16px;
  margin-bottom: 12px;
}
