<div class="container">

  <!-- search box -->
  <div class="row">
    <mat-icon matPrefix>search</mat-icon>
    <mat-form-field floatLabel="never">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <div class="row">

    <div class="col-4">
      <h2 class="mat-title" style="display: inline-block"> Stumpage Value Table </h2>
    </div>

    <div class="col-5"></div>

    <!-- new price button -->
    <div class="col-3" style="float: right;">
      <button mat-raised-button (click)="addPlist()" class="add-btn"> New Price List </button>
    </div>

  </div>

  <mat-card>
    <mat-card-content class="card-content">

      <!-- table for species and class -->
      <table mat-table [dataSource]="dataSource" style="width: 75%;  margin-left:10%; margin-right:15%; ">

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit</th>
          <td mat-cell *matCellDef="let row" style="width: 80px;">
            <button mat-button color="primary" (click)="onEditClicked(row)">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let row" style="width: 80px;">
            <button mat-button color="warn" (click)="onDeleteClicked(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="view" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Show Prices </th>
          <td mat-cell *matCellDef="let row" style="width: 80px;">
            <button mat-icon-button (click)="onViewClicked(row)">
              <mat-icon style="font-size: 15px ">visibility</mat-icon>
            </button>
        </ng-container>

        <ng-container matColumnDef="species">
          <th mat-header-cell *matHeaderCellDef> Species </th>
          <td mat-cell *matCellDef="let priceList"> {{priceList.species}} </td>
        </ng-container>

        <ng-container matColumnDef="clas">
          <th mat-header-cell *matHeaderCellDef>Class </th>
          <td mat-cell *matCellDef="let priceList"> {{priceList.class}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>

  <!--Girth classes and prices table showing -->
  <mat-card *ngIf="show">
    <mat-card-content>

      <table mat-table [dataSource]="githClassTable" style="width: 100%">

        <ng-container matColumnDef="minGirth">
          <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Mid Girth </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.minGirth}} - {{midGirthClasses.maxGirth}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Avg.Selling price(Rs./m<sup>3</sup>) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.price}}.00 </td>
        </ng-container>

        <ng-container matColumnDef="operationCost">
          <th mat-header-cell *matHeaderCellDef> Operation Cost </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.operationCost}}.00 </td>
        </ng-container>

        <ng-container matColumnDef="otherCost">
          <th mat-header-cell *matHeaderCellDef> Operation Cost(Rs.) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.otherCost}}.00 </td>
        </ng-container>

        <ng-container matColumnDef="overHeadCost">
          <th mat-header-cell *matHeaderCellDef> Other Costs(Rs.) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.overHeadCost}}.00 </td>
        </ng-container>


        <ng-container matColumnDef="stumpageVal">
          <th mat-header-cell *matHeaderCellDef> Overhead Cost(Rs./m<sup>3</sup>) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.stumpageVal}}.00 </td>
        </ng-container>

        <ng-container matColumnDef="profit">
          <th mat-header-cell *matHeaderCellDef> Stumpage value(Rs./m<sup>3</sup>) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.profit}}.00 </td>
        </ng-container>

        <ng-container matColumnDef="stumpage">
          <th mat-header-cell *matHeaderCellDef> Profit(Rs./m<sup>3</sup>) </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.stumpage}}.00 </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="girthclassColums; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: girthclassColums;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>