<div class="container">
  <mat-card>

    <!-- Header -->
    <mat-card-header class="block">
      <mat-card-title>Change Price List Table</mat-card-title>
    </mat-card-header>

    <!-- Main Form -->
    <mat-card-content class="card-content">
      <form id="priceListForm" [formGroup]="priceListForm" (ngSubmit)="onSubmit" class="mat-form">

        <mat-divider></mat-divider>
        <section [style.width]="'100%'">

          <!-- Title row-->
          <mat-form-field>
            <strong>Girth class(m) / (Title)</strong>
          </mat-form-field>

          <div class="row">
            <input type="text" placeholder="1.22 & Above" style="margin-left: 10px;" />
            <input type="text" placeholder="1.34 - 1.12" style="margin-left: 10px;" />
            <input type="text" placeholder="1.10 - 1.00" style="margin-left: 10px;" />
            <input type="text" placeholder="0.98 - 0.82" style="margin-left: 10px;" />
            <input type="text" placeholder="0.80 - 0.64" style="margin-left: 10px;" />
            <input type="text" placeholder="0.62 - 0.48" style="margin-left: 10px;" />
            <input type="text" placeholder="0.46 & Below" style="margin-left: 10px;" />
          </div>
          <!-- End of title row-->

          <mat-form-field>
            Avg.Selling price(Rs./m<sup>3</sup>)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Operation Cost(Rs.)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Other Costs(Rs.)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Overhead Cost(Rs./m<sup>3</sup>)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Stumpage value(Rs./m<sup>3</sup>)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Profit(Rs./m<sup>3</sup>)
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>

          <mat-form-field>
            Stumpage%
          </mat-form-field>

          <div class="row">
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
            <input type="text" style="margin-left: 10px;" />
          </div>
          
        </section>
      </form>
    </mat-card-content>

    <!-- Actions -->
    <mat-card-actions>
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-warning" routerLink="/price-list">Cancel</button>
        <button class="btn btn-danger">Delete</button>
    </mat-card-actions>
  </mat-card><br><br><br>
</div>