<h3 mat-title style="display: inline-block;">Change Price List Table</h3>
<span *ngIf="!editable">
  <button mat-button style="max-width: 4px; float: right;" (click)="onEditClicked()">
    <mat-icon>edit</mat-icon>
  </button>
</span>

<mat-card>

  <!-- Main Form -->

  <form id="priceListForm" [formGroup]="priceListForm" (ngSubmit)="onSubmit()" class="mat-form">
      <div class="line">
          <mat-form-field>
              <input formControlName="species" matInput placeholder="Species">
            </mat-form-field>

            <mat-form-field>
              <input formControlName="class" matInput placeholder="Class">
            </mat-form-field>

      </div>

  </form>

  <form>

    <div class="line">
      <mat-form-field>
        <input [(ngModel)]="minGirth" matInput name="minGirth" placeholder="Min Girth" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="maxGirth" matInput name="maxGirth" placeholder="Max Girth" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="price" matInput name="price" placeholder="price" required>
      </mat-form-field>
      
      <button mat-mini-fab color="warn" (click)="addGirthData()" type="submit">+</button>
    </div>
  </form>

  <div *ngIf="show">
    <table mat-table  [dataSource]="girthDataTable" >
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="deletePlotData(row)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="minGirth">
          <th mat-header-cell *matHeaderCellDef> Min Girth </th>
          <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.minGirth}} </td>
        </ng-container>

        <ng-container matColumnDef="maxGirth">
            <th mat-header-cell *matHeaderCellDef> Max Girth </th>
            <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.maxGirth}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let midGirthClasses"> {{midGirthClasses.price}} </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="girthDispalayedClumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: girthDispalayedClumns;"></tr>
    </table>
  </div>

  <!-- Actions -->
  <mat-card-actions>
    <button mat-stroked-button type="submit" form="priceListForm">SUBMIT</button>
  </mat-card-actions>

</mat-card><br><br><br>