.mat-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form > * {
    width: 100%;
  }

mat-form-field {
  margin-right: 15px
}

.row {
  margin-top: 7px;
}

button {
  margin-top: 7px;
}