<div class="container">
  <mat-card>
    <!-- Header -->
    <mat-card-header class="block">
      <mat-card-title>Stumpage Assessment</mat-card-title>
    </mat-card-header>

    <form [formGroup]="forestForm" (ngSubmit)="onSubmit()" class="mat-form">
      <!-- Form -->
      <mat-card-content>
        <div class="card-content">
          <section [style.width]="'100%'">
            <div class="row">
              <mat-form-field>
                <input formControlName="division" matInput placeholder="Division">
              </mat-form-field>
  
              <mat-form-field>
                <input formControlName="beat" matInput placeholder="Beat">
              </mat-form-field>              
            </div>

            <mat-form-field>
              <input formControlName="range" matInput placeholder="Range">
            </mat-form-field>

            <mat-form-field>
              <input formControlName="block" matInput placeholder="Block">
            </mat-form-field>

            <mat-form-field>
              <input formControlName="sBlock" matInput placeholder="S.Block">
            </mat-form-field>
          </section>

        </div>
        <div>
          <mat-divider></mat-divider>

          <mat-form-field>
            <mat-select placeholder="Species">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-divider></mat-divider>
        </div>


      </mat-card-content>

      <!-- Actions -->
      <mat-card-actions>
        <button mat-button type="submit">SUBMIT</button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>