<div *ngIf="auth.user$ | async; then authenticated else guest"></div>

<ng-template #guest>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>You are about to access a secure area. Please sign in to continue.</mat-card-subtitle>

    <!-- Login Form -->
    <!-- <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mat-form">
      <div class="wrapper">
        <div class="flex-container center">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="Username">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>

      <div class="wrapper">
        <button mat-raised-button color="primary" type="submit" form="forestForm">LOGIN</button>
      </div>
    </form> -->
    <!-- /Login Form -->

    <!-- <div class="divider">
      <mat-divider [inset]="true"></mat-divider>
    </div> -->

    <div class="wrapper">
      <button mat-raised-button color="warn" (click)="googleLogin()">
        <span><i class="fa fa-google" aria-hidden="true"></i></span>
        Sign-in with Google
      </button>
    </div>
  </mat-card>
</ng-template>

<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <h3>Welcome back, {{ user.displayName }}</h3>
    <p>UID: {{ user.uid }}</p>
    <button mat-button color="primary" routerLink="/home">Continue</button>
  </div>
</ng-template>